<div class="row">
    <div class="col-12">
        <table class="table table-bordered nestedTable">
            <thead class="table-head">
                <tr>
                    <th *ngFor="let item of tableColoumFormat">
                        {{item.header}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of tableRowData">
                    <td *ngFor="let key of tableColoumFormat">
                        {{list[key.value]}}
                        <ng-container *ngIf="key.element">
                            <ng-container *ngFor="let ele of key.element">
                                <button type="button" (click)="ele.handler($event, list)" class="btn btn-primary action-btn mr-2"><i
                                        class="fa {{ele.className}} action-icon-size" aria-hidden="true"></i></button>
                            </ng-container>
                        </ng-container>
                    </td>
                    <!-- <td *ngIf="!tablesList.readOnly">
                        <button type="button" class="btn btn-primary action-btn mr-2"><i class="fa fa-pencil action-icon-size" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-primary action-btn"> <i class="fa fa-trash-o action-icon-size" aria-hidden="true"></i></button>
                    </td> -->
                    <!-- <ng-container *ngFor="let ele of key.element">
                        <i style="padding-left: 16px;"
                        class="fa {{ele.className}} action-icon-size" aria-hidden="true"></i>
                    </ng-container> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>