@import 'variable.scss';
th,
td {
    padding: 5px;
}

table {
    font-size: 12px !important;
}

.table-wrapper-scroll {
    width: 100%;
    height: 277px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-head {
    background-color: #338acbfc;
    color: white;
}